span.conected {
    background: #29bf12;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
}
span.conected i {
    margin-left: 5px;
}
p.msg {
    font-size: 14px;
    font-weight: 500;
}
span.msg {
    background: #d00000;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    display: block;
    width: fit-content;
    margin-bottom: 15px;
}   
span.not-conected{
    background: #d00000;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
}